ul{
    border: 1px solid;
    height: 40%;
    margin: 0 10px;
    display: flex;
    padding: 2%;
    background-color: aqua;
}
li{
    border: 1px solid;
    color:black;
    margin: 0 10px;
    padding: 2%;
    list-style: none;
    display: flex;
    flex-direction: row;
}
form{
color:red;
padding: 2%;
display: flex;
flex-direction: column;
}
label{
border: 1px solid;
}
ol li{
    display: flex;
    flex-direction: row;
}